In [1]:
import pyspark
#from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
import boto3

In [2]:
#<> are hard coded paths removed for purposes of review, this will be refactored to make use of environmental variables
#declare delta lake related parameters
DELTALAKE_SILVER_PATH="<>/delta_lake_store"

#declare test json file path
test_path='s3a://<>/<>.json'

In [3]:
#for sql magic
%load_ext sql
%config SqlMagic.autocommit=False

In [4]:
#spark = SparkSession \
#   .builder \
#   .appName("testing") \
#   .config("spark.executor.heartbeatInterval","60s")\
#   .getOrCreate()
#sqlContext = SQLContext(sparkContext())

from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("testing") \
    .getOrCreate()

spark.conf.set("spark.sql.repl.eagerEval.enabled",True)

sc = spark.sparkContext
#sc = SparkContext('local', 'Spark SQL').getOrCreate() 
sqlc = SQLContext(sc)

In [3]:
!ls

chatscrapper.py      prototype_pyspark.ipynb	    scala-2.12.3.deb
Downloads	     prototype_s3_spark_loading.py  twitchjson
extract_userlist.py  Python-3.7.3		    userlist.csv
jsonec2s3.sh	     Python-3.7.3.tar.xz	    words.txt
peg_log.txt	     run_jupyterlab.sh		    zookeeper.out

In [13]:
test = sqlContext.read.option("multiLine", True).json(test_path)
#test = sqlContext.read.option("multiLine", True).json('./twitchjson/435676905.json')
#test = sqlContext.read.csv('userlist.csv')
#test = sc.read.json('s3a://twitchchatbucket/11494108.json')

In [8]:
test

DataFrame[comments: array<struct<_id:string,channel_id:string,commenter:struct<_id:string,bio:string,created_at:string,display_name:string,logo:string,name:string,type:string,updated_at:string>,content_id:string,content_offset_seconds:double,content_type:string,created_at:string,message:struct<body:string,emoticons:array<struct<_id:string,begin:bigint,end:bigint>>,fragments:array<struct<emoticon:struct<emoticon_id:string,emoticon_set_id:string>,text:string>>,is_action:boolean,user_badges:array<struct<_id:string,version:string>>,user_color:string,user_notice_params:struct<msg-id:string,msg-param-cumulative-months:string,msg-param-months:string,msg-param-origin-id:string,msg-param-recipient-display-name:string,msg-param-recipient-id:string,msg-param-recipient-user-name:string,msg-param-sender-count:string,msg-param-should-share-streak:string,msg-param-sub-plan:string,msg-param-sub-plan-name:string>>,more_replies:boolean,source:string,state:string,updated_at:string>>, video: struct<created_at:string,description:string,duration:string,id:string,language:string,published_at:string,thumbnail_url:string,title:string,type:string,url:string,user_id:string,user_name:string,view_count:bigint,viewable:string>]

In [9]:
test['video']

Column<b'video'>

In [10]:
test.printSchema()

root
 |-- comments: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- _id: string (nullable = true)
 |    |    |-- channel_id: string (nullable = true)
 |    |    |-- commenter: struct (nullable = true)
 |    |    |    |-- _id: string (nullable = true)
 |    |    |    |-- bio: string (nullable = true)
 |    |    |    |-- created_at: string (nullable = true)
 |    |    |    |-- display_name: string (nullable = true)
 |    |    |    |-- logo: string (nullable = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |    |-- type: string (nullable = true)
 |    |    |    |-- updated_at: string (nullable = true)
 |    |    |-- content_id: string (nullable = true)
 |    |    |-- content_offset_seconds: double (nullable = true)
 |    |    |-- content_type: string (nullable = true)
 |    |    |-- created_at: string (nullable = true)
 |    |    |-- message: struct (nullable = true)
 |    |    |    |-- body: string (nullable = true)
 |    |    |    |-- emoticons: array (nullable = true)
 |    |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |    |-- _id: string (nullable = true)
 |    |    |    |    |    |-- begin: long (nullable = true)
 |    |    |    |    |    |-- end: long (nullable = true)
 |    |    |    |-- fragments: array (nullable = true)
 |    |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |    |-- emoticon: struct (nullable = true)
 |    |    |    |    |    |    |-- emoticon_id: string (nullable = true)
 |    |    |    |    |    |    |-- emoticon_set_id: string (nullable = true)
 |    |    |    |    |    |-- text: string (nullable = true)
 |    |    |    |-- is_action: boolean (nullable = true)
 |    |    |    |-- user_badges: array (nullable = true)
 |    |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |    |-- _id: string (nullable = true)
 |    |    |    |    |    |-- version: string (nullable = true)
 |    |    |    |-- user_color: string (nullable = true)
 |    |    |    |-- user_notice_params: struct (nullable = true)
 |    |    |    |    |-- msg-id: string (nullable = true)
 |    |    |    |    |-- msg-param-cumulative-months: string (nullable = true)
 |    |    |    |    |-- msg-param-months: string (nullable = true)
 |    |    |    |    |-- msg-param-origin-id: string (nullable = true)
 |    |    |    |    |-- msg-param-recipient-display-name: string (nullable = true)
 |    |    |    |    |-- msg-param-recipient-id: string (nullable = true)
 |    |    |    |    |-- msg-param-recipient-user-name: string (nullable = true)
 |    |    |    |    |-- msg-param-sender-count: string (nullable = true)
 |    |    |    |    |-- msg-param-should-share-streak: string (nullable = true)
 |    |    |    |    |-- msg-param-sub-plan: string (nullable = true)
 |    |    |    |    |-- msg-param-sub-plan-name: string (nullable = true)
 |    |    |-- more_replies: boolean (nullable = true)
 |    |    |-- source: string (nullable = true)
 |    |    |-- state: string (nullable = true)
 |    |    |-- updated_at: string (nullable = true)
 |-- video: struct (nullable = true)
 |    |-- created_at: string (nullable = true)
 |    |-- description: string (nullable = true)
 |    |-- duration: string (nullable = true)
 |    |-- id: string (nullable = true)
 |    |-- language: string (nullable = true)
 |    |-- published_at: string (nullable = true)
 |    |-- thumbnail_url: string (nullable = true)
 |    |-- title: string (nullable = true)
 |    |-- type: string (nullable = true)
 |    |-- url: string (nullable = true)
 |    |-- user_id: string (nullable = true)
 |    |-- user_name: string (nullable = true)
 |    |-- view_count: long (nullable = true)
 |    |-- viewable: string (nullable = true)

In [41]:
#test.select('video')
for i in test.limit(1).select('video'):
    print(i)
#.select('user_id','duration','created_at')

Column<b'video'>

In [141]:
#columns to get for video, TODO: include video_id
test.select("video.created_at","video.duration","video.url","video.user_id","video.user_name","video.view_count").show(1, False)

+--------------------+--------+--------------------------------------+--------+---------+----------+
|created_at          |duration|url                                   |user_id |user_name|view_count|
+--------------------+--------+--------------------------------------+--------+---------+----------+
|2019-05-14T17:17:06Z|7h51m32s|https://www.twitch.tv/videos/424793775|78219897|Akademiks|5009      |
+--------------------+--------+--------------------------------------+--------+---------+----------+

In [ ]:
#turn selected columns into delta lake table
test.select("video.created_at","video.duration","video.url","video.user_id","video.user_name","video.view_count").write.format("delta").save(DELTALAKE_SILVER_PATH)
#this returns an error

In [16]:
#test magic command sql style of creating table
%sql CREATE TABLE video USING delta AS SELECT * FROM json.test_path;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [5]:
#https://docs.databricks.com/delta/quick-start.html
test2 = spark.read.option("multiLine", True).json(test_path)
test2.write.format("delta").save(DELTALAKE_SILVER_PATH)

In [ ]:
#spark.sql("DROP TABLE IF EXISTS test2")

In [8]:
spark.sql("CREATE TABLE test2 USING DELTA LOCATION '{}'".format(DELTALAKE_SILVER_PATH))

++
||
++
++

In [14]:
spark.sql("SELECT video.created_at,video.duration,video.url,video.user_id,video.user_name,video.view_count FROM test2").toPandas().head()

,created_at,duration,url,user_id,user_name,view_count
0,2019-05-14T17:17:06Z,7h51m32s,https://www.twitch.tv/videos/424793775,78219897,Akademiks,5009

In [44]:
#https://stackoverflow.com/questions/41027315/pyspark-split-multiple-array-columns-into-rows
def zip_and_explode(*colnames, n):
    return explode(array(*[
        struct(*[col(c).getItem(i).alias(c) for c in colnames])
        for i in range(n)
    ]))

In [46]:
test2.withColumn("tmp", zip_and_explode("comments.commenter.bio", "comments.commenter.name", n=3)).toPandas().head()

,comments,video,tmp
0,"[(Pf4SNIhxoBXYTA, 78219897, (139506709, None, ...","(2019-05-14T17:17:06Z, , 7h51m32s, 424793775, ...","(None, lc_tp)"
1,"[(Pf4SNIhxoBXYTA, 78219897, (139506709, None, ...","(2019-05-14T17:17:06Z, , 7h51m32s, 424793775, ...","(None, mugadrew)"
2,"[(Pf4SNIhxoBXYTA, 78219897, (139506709, None, ...","(2019-05-14T17:17:06Z, , 7h51m32s, 424793775, ...","(WizeBot. Monitor, manage and protect your Twi..."

In [77]:
test2.withColumn("vars", arrays_zip('comments.commenter.bio','comments.commenter.name')).select('vars')

root
 |-- vars: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- 0: string (nullable = true)
 |    |    |-- 1: string (nullable = true)

In [87]:
#this code is convoluted af
test2.withColumn("vars", arrays_zip('comments.commenter.bio','comments.commenter.name')).withColumn("vars", explode("vars")).select(col('vars.0').alias('bio'),col('vars.1').alias('username')).toPandas().head()

                                                 bio        username
0                                               None           lc_tp
1                                               None        mugadrew
2  WizeBot. Monitor, manage and protect your Twit...         wizebot
3  WizeBot. Monitor, manage and protect your Twit...         wizebot
4                                               None  ratatouille456

In [129]:
#best expression!
spark.sql("SELECT explode(comments.commenter) as a FROM test2").selectExpr("a.bio","a.name","a.type").toPandas().head()

                                                 bio            name  type
0                                               None           lc_tp  user
1                                               None        mugadrew  user
2  WizeBot. Monitor, manage and protect your Twit...         wizebot  user
3  WizeBot. Monitor, manage and protect your Twit...         wizebot  user
4                                               None  ratatouille456  user

In [136]:
query_body = "comments.commenter"
#thingstoquery = ["bio","name","type"]
#query = ','.join(['a.'+x for x in thingstoquery])

In [143]:
#best expression!
spark.sql("SELECT explode({}) as a FROM test2".format(query_body)).select("a.bio","a.name","a.type").toPandas().head()

                                                 bio            name  type
0                                               None           lc_tp  user
1                                               None        mugadrew  user
2  WizeBot. Monitor, manage and protect your Twit...         wizebot  user
3  WizeBot. Monitor, manage and protect your Twit...         wizebot  user
4                                               None  ratatouille456  user

In [ ]:
spark.sql("SELECT explode(comments.commenter) as a FROM test2")

In [49]:
query_body = "explode(array_zip(comments.commenter))."
thingstoquery = ["bio","name","type"]
query = ','.join([query_body+x for x in thingstoquery])

In [ ]:
#query user columns

spark.sql("SELECT {} FROM test2".format(query))
#.toPandas().head()

In [146]:
#columns for user
i=21
test.select(col("comments.commenter.bio").getItem(i),col("comments.commenter.name").getItem(i),col("comments.commenter.type").getItem(i)).show(1, False)

+-------------------------------------------------------------------------+-------------------------------------+-------------------------------------+
|comments.commenter.bio AS `bio`[21]                                      |comments.commenter.name AS `name`[21]|comments.commenter.type AS `type`[21]|
+-------------------------------------------------------------------------+-------------------------------------+-------------------------------------+
|A chat moderator bot for Twitch. Visit https://nightbot.tv for more info.|nightbot                             |user                                 |
+-------------------------------------------------------------------------+-------------------------------------+-------------------------------------+

In [150]:
#columns for messages
query_body = "comments.message" 
query_body2 = "comments.commenter" 
test.select(col("{}.body".format(query_body)).getItem(i),col("{}.emoticons".format(query_body)).getItem(i),col("{}.name".format(query_body2)).getItem(i)).show(1, False)

+-----------------------------------------------+---------------------------------------------+-------------------------------------+
|comments.message.body AS `body`[21]            |comments.message.emoticons AS `emoticons`[21]|comments.commenter.name AS `name`[21]|
+-----------------------------------------------+---------------------------------------------+-------------------------------------+
|@4GPA -> Stop Spamming Symbols Nigga. [warning]|null                                         |nightbot                             |
+-----------------------------------------------+---------------------------------------------+-------------------------------------+

In [148]:
#columns for channels
test.select("video.user_name").show(1, False)

+---------+
|user_name|
+---------+
|Akademiks|
+---------+

In [157]:
#get size of array
test.select(size(test.comments))

+--------------+
|size(comments)|
+--------------+
|         13516|
+--------------+